<label *ngIf="label"
       [for]="innerId"
       class="block text-sm font-medium text-gray-700 hover:cursor-pointer pb-2">
    {{ label }}
</label>

<select #select="ngModel"
        [id]="innerId"
        [disabled]="disabled"
        [(ngModel)]="value"
        (ngModelChange)="updateChanges()"
        (blur)="onTouched()"
        class="block w-full pl-3 pr-10 py-2 text-base
            border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500
            sm:text-sm rounded-md disabled:opacity-75">
    <option *ngFor="let item of items"
            [ngValue]="itemKey ? item[itemKey] : item">
        <ng-template [ngTemplateOutlet]="optionTemplate"
                     [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-template>
    </option>
</select>