<div class="bg-light-gray h-100 content-view wrapper">
    <div class="container container-450">
        <div class="card login-card">
            <div class="row">
                <div class="col-12">
                    <div>
                        <img class="mx-auto d-block my-3 eng-logo"
                             src="assets/img/logo.png" />
                    </div>

                    <h4 class="my-4 text-center">{{ 'resetPassword.title' | translate }}</h4>

                    <ng-container *ngIf="!hasSentPasswordResetEmail">
                        <form (ngSubmit)="requestPasswordReset()">
                            <div class="row">
                                <div class="col mb-3 px-5">
                                    <input class="form-control"
                                           type="email"
                                           name="email"
                                           placeholder="{{ 'resetPassword.input.email'}}..."
                                           [(ngModel)]="email" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col mt-3 mb-3 px-5 text-center">
                                    <button type="submit"
                                            class="btn btn-block btn-lg btn-success"
                                            [disabled]="!isValid()">
                                        {{ 'generic.reset' | translate }}
                                    </button>
                                </div>
                            </div>

                            <augur-loading-indicator [loading]="isLoading"
                                                     classes="mb-3">
                            </augur-loading-indicator>
                        </form>
                    </ng-container>
                    <ng-container *ngIf="hasSentPasswordResetEmail">
                        <div class="row">
                            <div class="col mb-3 px-2">
                                <p class="text-center">
                                    {{ 'resetPassword.resetEmailSent' | translate }}
                                </p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="card-footer">
                <div class="text-center">
                    <a class="btn btn-link"
                       [routerLink]="['/login']">
                        {{ 'resetPassword.backToSignIn' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>