<app-page-with-navigation-menu>
    <ng-template #navigation>
        <app-navigation-menu></app-navigation-menu>
    </ng-template>

    <ng-template #content>
        <app-content-view [loading]="isChangePasswordRequestInProgress">
            <ng-template #header>
                <h4>{{ 'changePassword.title' | translate }}</h4>
            </ng-template>

            <ng-template #body>
                <div class="container px-0">
                    <ng-container *ngIf="!isPasswordSuccessfullyChanged">
                        <form class="w-100"
                              (ngSubmit)="changePassword()">
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label>{{ 'changePassword.input.oldPassword' | translate }}</label>
                                    <augur-text-input type="password"
                                                      name="oldPassword"
                                                      placeholder="{{ 'changePassword.input.oldPassword' | translate }}..."
                                                      [(model)]="model.oldPassword">
                                    </augur-text-input>
                                </div>
                            </div>

                            <div class="row"
                                 *ngIf="isOldPasswordInvalid">
                                <div class="col">
                                    <p class="text-danger mb-3">{{ 'changePassword.input.error.invalidPassword' | translate }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 form-group">
                                    <label>{{ 'changePassword.input.newPassword' | translate }}</label>
                                    <augur-text-input type="password"
                                                      name="newPassword"
                                                      placeholder="{{ 'changePassword.input.newPassword' | translate }}..."
                                                      [(model)]="model.newPassword">
                                    </augur-text-input>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 form-group">
                                    <label>{{ 'changePassword.input.confirmNewPassword' | translate }}</label>
                                    <augur-text-input type="password"
                                                      name="confirmNewPassword"
                                                      placeholder="{{ 'changePassword.input.confirmNewPassword' | translate }}..."
                                                      [(model)]="model.confirmNewPassword">
                                    </augur-text-input>
                                </div>
                            </div>

                            <div class="row"
                                 *ngIf="model.confirmNewPassword && model.newPassword != model.confirmNewPassword">
                                <div class="col">
                                    <p class="text-danger mb-3">{{ 'changePassword.input.error.passwordsDoNotMatch' | translate }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mt-3">
                                    <button class="btn btn-success btn-block"
                                            type="submit"
                                            [disabled]="!isValid()">
                                        {{ 'changePassword.changePassword' | translate }}
                                    </button>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col">
                                    <a [routerLink]="['/my-profile']">
                                        &lt; {{ 'changePassword.backToMyProfile' | translate }}
                                    </a>
                                </div>
                            </div>
                        </form>
                    </ng-container>
                    <ng-container *ngIf="isPasswordSuccessfullyChanged">
                        <div class="row">
                            <div class="col text-center">
                                <p>
                                    {{ 'changePassword.passwordChangedSuccessfully' | translate }}
                                </p>
                                <button class="btn btn-outline-success"
                                        [routerLink]="['/my-profile']">
                                    {{ 'changePassword.backToMyProfile' | translate }}
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-template>
        </app-content-view>
    </ng-template>
</app-page-with-navigation-menu>