<div class="bg-light-gray h-100 content-view wrapper">
    <div class="container container-450">
        <div class="card login-card">
            <div class="row">
                <div class="col-12">
                    <div>
                        <img class="mx-auto d-block my-3 eng-logo"
                             src="assets/img/logo.png" />
                    </div>

                    <h4 class="my-4 text-center">{{ 'setNewPassword.title' | translate }}</h4>

                    <form (ngSubmit)="setNewPassword()">
                        <div class="row">
                            <div class="col mb-3 px-5">
                                <input type="password"
                                       class="form-control"
                                       name="password"
                                       placeholder="{{ 'setNewPassword.input.password' | translate }}..."
                                       [(ngModel)]="setNewPasswordVm.password">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-3 px-5">
                                <input type="password"
                                       class="form-control"
                                       name="confirmedPassword"
                                       placeholder="{{ 'setNewPassword.input.confirmPassword' | translate }}..."
                                       [(ngModel)]="setNewPasswordVm.confirmedPassword">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mt-3 mb-3 px-5 text-center">
                                <button type="submit"
                                        class="btn btn-block btn-lg btn-success"
                                        [disabled]="!setNewPasswordVm.isValid()">
                                    {{ 'generic.confirm' | translate }}
                                </button>
                            </div>
                        </div>

                        <augur-loading-indicator [loading]="isLoading"
                                                 classes="mb-3">
                        </augur-loading-indicator>
                    </form>
                </div>
            </div>

            <div class="card-footer">
                <div class="text-center">
                    <a class="btn btn-link"
                       [routerLink]="['/login']">
                        {{ 'setNewPassword.backToSignIn' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>