<div class="flex items-center">
    <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
    <button type="button"
            [disabled]="disabled"
            (click)="toggle()"
            [ngClass]="{ 'bg-blue-600': isSelected, 'bg-gray-200': !isSelected }"
            [disabled]="disabled"
            class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50"
            role="switch"
            aria-checked="false"
            aria-labelledby="annual-billing-label">
        <span class="sr-only">Use setting</span>
        <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
        <span aria-hidden="true"
              [ngClass]="{ 'translate-x-5': isSelected, 'translate-x-0': !isSelected }"
              class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
    </button>
    <span class="ml-3"
          id="annual-billing-label">
        <span class="text-sm font-medium text-gray-900">
            {{ label }}
        </span>
    </span>
</div>