<div class="block mx-auto max-w-screen-md p-4 rounded">
    <ng-container *ngIf="!isLoading">
        <div class="grid grid-cols-1 gap-6">
            <h3 class="text-2xl font-semibold">
                {{ question.audio.title }}
            </h3>
            <div>
                <button type="button"
                        (click)="play()"
                        [disabled]="!canPlay"
                        class="inline-flex items-center px-6 py-3 border border-transparent shadow-sm 
                               text-base font-medium rounded-md text-white bg-blue-600 
                             hover:bg-blue-700 focus:outline-none 
                               focus:ring-2 focus:ring-offset-2 focus:ring-blue-500
                               disabled:opacity-75">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="-ml-1 mr-3 h-5 w-5"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                              clip-rule="evenodd" />
                    </svg>
                    {{ 'listeningQuestionPlayer.playAudio' | translate }}
                </button>
            </div>
            <div>
                <p *ngIf="playsRemaining">
                    <ng-container *ngIf="playsRemaining === 1">
                        {{ 'listeningQuestionPlayer.onePlayRemaining' | translate }}
                    </ng-container>

                    <ng-container *ngIf="playsRemaining > 1">
                        {{ 'listeningQuestionPlayer.manyPlaysRemaining' | translate: { count: playsRemaining } }}
                    </ng-container>
                </p>
                <p *ngIf="!playsRemaining">
                    {{ 'listeningQuestionPlayer.noPlaysRemaining' | translate }}
                </p>
            </div>
            <h4 class="text-lg font-semibold">
                {{ question.questionText }}
            </h4>
            <app-reading-listening-question-answer-picker [question]="question"
                                                          (answerChange)="onAnswerChange($event)">
            </app-reading-listening-question-answer-picker>
        </div>
    </ng-container>
    <ng-container *ngIf="isLoading">
        {{ 'generic.loading' | translate }}...
    </ng-container>
</div>